<table class="table table-bordered border-primary mt-4">
  <thead>
  <td>Image</td>
  <td>Name</td>
  <td>Quantity</td>
  <td>Minimum bets</td>
  <td>State</td>
  <td>Batch Count</td>
  <td>Online At</td>
  <td>Offline At</td>
  <td>Start At</td>
  <td>Status</td>
  <td>Action</td>
  </thead>
  <% @item.each do |item| %>
    <tr>
      <td><%= image_tag item.image.url, width: "100px", height: "100px" if item.image.present? %></td>
      <td><%= item.name %></td>
      <td><%= item.quantity %></td>
      <td><%= item.minimum_bets %></td>
      <td><%= item.state%></td>
      <td><%= item.batch_count %></td>
      <td><%= item.online_at %></td>
      <td><%= item.offline_at %></td>
      <td><%= item.start_at %></td>
      <td><%= item.status %></td>
      <td><%= item.categories.pluck(:name).join(',') %></td>
      <td>
        <%= link_to 'Edit', edit_admin_item_path(item), class: 'btn btn-secondary' %>
        <%= button_to 'Delete', admin_item_path(item), method: :delete, class: 'btn btn-secondary' %>
        <%= button_to 'Start', admin_item_start_path(item), method: :put, class: 'btn btn-secondary' %>
        <%= button_to 'Pause', admin_item_pause_path(item), method: :put, class: 'btn btn-secondary' %>
        <%= button_to 'End', admin_item_end_path(item), method: :put, class: 'btn btn-secondary' %>
        <%= button_to 'Cancel', admin_item_cancel_path(item), method: :put, class: 'btn btn-secondary' %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'new', new_admin_item_path, class: 'btn btn-secondary' %>