<table class="table table-sm">
  <thead>
  <td>parent email</td>
  <td>email</td>
  <td>total_deposit</td>
  <td>member_total_deposits</td>
  <td>coins</td>
  <td>total_used_coins</td>
  <td>children_members</td>
  <td>phone_number</td>
  </thead>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.parent&.email %></td>
      <td><%= user.email %></td>
      <td><%= user.total_deposit %></td>
      <td></td>
      <td><%= user.coins %></td>
      <td></td>
      <td><%= user.children_members %></td>
      <td><%= user.phone %></td>
    </tr>
  <% end %>
</table>
