<main>
  <style>
      .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
      }

      @media (min-width: 768px) {
          .bd-placeholder-img-lg {
              font-size: 3.5rem;
          }
      }

      .b-example-divider {
          width: 100%;
          height: 3rem;
          background-color: rgba(0, 0, 0, .1);
          border: solid rgba(0, 0, 0, .15);
          border-width: 1px 0;
          box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
          flex-shrink: 0;
          width: 1.5rem;
          height: 100vh;
      }

      .bi {
          vertical-align: -.125em;
          fill: currentColor;
      }

      .nav-scroller {
          position: relative;
          z-index: 2;
          height: 2.75rem;
          overflow-y: hidden;
      }

      .nav-scroller .nav {
          display: flex;
          flex-wrap: nowrap;
          padding-bottom: 1rem;
          margin-top: -1px;
          overflow-x: auto;
          text-align: center;
          white-space: nowrap;
          -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
          --bd-violet-bg: #712cf9;
          --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

          --bs-btn-font-weight: 600;
          --bs-btn-color: var(--bs-white);
          --bs-btn-bg: var(--bd-violet-bg);
          --bs-btn-border-color: var(--bd-violet-bg);
          --bs-btn-hover-color: var(--bs-white);
          --bs-btn-hover-bg: #6528e0;
          --bs-btn-hover-border-color: #6528e0;
          --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
          --bs-btn-active-color: var(--bs-btn-hover-color);
          --bs-btn-active-bg: #5a23c8;
          --bs-btn-active-border-color: #5a23c8;
      }

      .bd-mode-toggle {
          z-index: 1500;
      }

      .carousel-item {
          height: 35rem;
      }
  </style>
  <nav class="navbar bg-body-tertiary fixed-top d-flex flex-wrap justify-content-center py-1 mb-4 border-bottom">
    <div class="container-fluid">
      <%= link_to  client_root_path, class: "navbar-brand d-flex align-items-center mb-4 mb-md-0 me-md-5 text-dark text-decoration-none" do %>
        <h4>LOGO</h4>
      <% end %>
      <ul class="ms-auto">
        <a class="nav-item text-decoration-none text-black me-2" href="#">Coins</a>
        <a class="nav-item text-decoration-none text-black me-2" href="#">Claim</a>
        <a class="nav-item text-decoration-none text-black me-2" href="#">Language</a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </ul>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu Views</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Username:</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Email:</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Coins:</a>
            </li>
            <button class="btn btn-dark w-100" type="button">Cash In Now</button>

            <div class="dropdown-center mt-2">
              <button class="btn btn-dark w-100 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Settings
              </button>
              <ul class="dropdown-menu ms-auto">
                <li><a class="dropdown-item" href="#">Contact Us</a></li>
                <li class="dropdown-item"><%= link_to 'My Profile', profiles_path, class: "nav-item text-decoration-none text-black me-2" %></li>
                <li class="dropdown-item"><%= link_to 'Sign out', destroy_client_user_session_path, data: { 'turbo-method': :delete } %></li>
              </ul>
            </div>
          </ul>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <nav class="navbar bg-body-tertiary fixed-bottom">
    <div class="container-fluid">
      <ul class="ms-auto me-auto pt-2">
        <a class="nav-item text-decoration-none text-black me-2" href="#">Share</a>
        <%= link_to 'Invite', invite_path, class: "nav-item text-decoration-none text-black me-2" %>
        <a class="nav-item text-decoration-none text-black me-2" href="#">Lottery</a>
        <a class="nav-item text-decoration-none text-black me-2" href="#">Shop</a>
        <%= link_to 'Me', profiles_path, class: "nav-item text-decoration-none text-black me-2" %>
      </ul>
    </div>
  </nav>
</main>


